---
---
@import "tailwindcss";


@layer utilities {
	
}

@theme {
    --color-primary: #4a65d3;
    --color-tertiary-container: #5b3d57;
    --color-tertiary-text: #ffd7f3;
    --color-primary-hover: #1f3a8a;
    --color-background: #fffaf0;
    --color-background-dark: #121212;
    --color-background-dark-elevated: #2A2D3A;

}

pre {
    @apply bg-tertiary-container text-sm text-tertiary-text rounded-sm p-0.25;
}

pre > code {
    @apply bg-tertiary-container text-sm text-tertiary-text rounded-sm p-0.25;
}

code {
    @apply text-tertiary-container bg-transparent;
}

.highlight {
    @apply bg-transparent;
}

@custom-variant dark (&:where(.dark, .dark *));

@config "../../tailwind.config.js"
