<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {%- include custom-head.html -%}
  <body class="flex items-center justify-center min-h-screen bg-ro-blue text-ro-pink">

        <!-- Mobile View -->
        <div class="w-full max-w-sm p-4 rounded-lg shadow-md md:hidden">
          <div class="flex flex-col items-center space-y-4">
              <img src="{{ site.baseurl }}/assets/imgs/me.png" alt="Picture" class="w-32 h-32 object-cover rounded-full">
              <h1 class="text-xl font-bold">Rohan Mallya</h1>
              <p class="text-center text-gray-600">This is a small one-liner.</p>
              <p class="text-center text-gray-600">Another small one-liner.</p>
              <button class="px-4 py-2 mt-4 font-bold text-white bg-blue-500 rounded-sm">Talk, talk</button>
          </div>
      </div>
  
      <!-- Desktop View -->
      <div class="hidden md:flex w-full max-w-5xl h-full p-8  rounded-lg shadow-md">
          <div class="w-7/12 pr-8">
              <div class="space-y-4">
                  <h1 class="text-2xl font-bold">Rohan Mallya</h1>
                  <p class="text-gray-600">This is a small one-liner.</p>
                  <p class="text-gray-600">Another small one-liner.</p>
                  <button class="px-4 py-2 mt-4 font-bold  bg-blue-500 rounded-full">Talk, talk</button>
              </div>
          </div>
          <div class="w-5/12">
              <img src="{{ site.baseurl }}/assets/imgs/me.png" alt="Picture" class="w-full h-auto rounded-lg">
          </div>
      </div>
  </body>

</html>