<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}
{%- include custom-head.html -%}
{%- include nav.html -%}

<body class="">
        <div class="2xl:px-80 lg:px-10 pr-10 pl-10 min-w-screen min-h-screen bg-ro-blue-800 text-ro-pink flex flex-col md:flex-row items-center justify-center p-4 md:p-8 w-full ">
            <div class="md:hidden w-full flex justify-center mt-4 mb-4">
                <img src="{{ site.baseurl }}/assets/imgs/me.png" alt="Picture"
                    class="w-96 h-96 object-cover rounded-lg ">
            </div>
            
            <div class="w-full lg:w-4/5 md:w-2/5 space-y-4 text-center md:text-left md:mr-8">
                <p class="ml-1 mt-5 md:mt-0 lg:mt-0 text-xl text-white">Hello! I am</p>
                <h1 class="text-5xl md:text-5xl font-medium">Rohan Mallya</h1>
                <p class="text-2xl md:text-xl lg:text-xl text-white text-justify">I am a <span class="text-ro-pink"> software developer </span> that loves building good products. 
                    I currently work with <span class="text-ro-pink">Infosys Finacle</span>, where develop foundational software components used across the Finacle Digital Banking Suite. 
                </p>
                <p class="text-2xl md:text-xl lg:text-xl text-white text-justify">
                    In my spare time, I participate in lengthy product / business building discussions and assist young entrepreneurs shape their offerings, in terms of product and tech. 
                </p>
                <p class="text-xl md:text-lg lg:text-lg text-white">
                    <span class="font-bold mr-2 md:mr-0 lg:mr-0">socials:  </span>
                    <span class="underline text-ro-pink">twitter</span> ◦ 
                    <span class="underline text-ro-pink" >linkedin</span> ◦ 
                    <span class="underline text-ro-pink" >pinterest</span></p>
                <p class="text-lg text-white">
                    <span class="font-bold mr-2 md:mr-0 lg:mr-0">email: </span>
                    
                    hello [at] rohanmallya.com</p>

            </div>
            <div class="hidden lg:w-1/2 md:w-fit md:flex md:justify-center mt-4 md:mt-0">
                <img src="{{ site.baseurl }}/assets/imgs/me.png" alt="Picture"
                    class="w-32 h-32 md:w-96 md:h-96 object-cover rounded-full md:rounded-lg">
            </div>
        </div>

</body>

</html>