<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}
{%- include custom-head.html -%}
{%- include nav.html -%}

<body>

  <!-- {%- include header.html -%} -->
  {% assign orgs = site.data[page.type].organizations %}
  <main class="mt-10 py-10 min-w-screen min-h-screen bg-ro-blue-800 text-white page-content" aria-label="Content">
    <div class="wrapper">
      
      <h1 class="text-5xl  mb-10">💻  {{site.data[page.type].title}} </h1>
      {%- for org in orgs -%}
      <h2 class="text-2xl">At {{org.name}} as {{org.role}} <span style="font-size:0.5em">({{org.from}} - {{org.to}})</span></h2>
      
      <ul class="list-disc">
        {%- for achievement in org.work -%}
        <li class="list-disc list-inside" >{{achievement.name}}
          {%- for more_point in achievement.more_points -%}
          <ul class="ps-5 list-disc list-inside">
            <li >{{more_point}}</li>
          </ul>
          {%- endfor %}
        </li>
        {%- endfor %}
      </ul>
      {%- endfor -%}

    </div>
  </main>
  <!-- {%- include footer.html -%} -->
</body>

</html>